<br><br>
<div id="calc-container">
        <h2>Calculadora de IMC</h2>
        <br>
        <form id="imc-form">

            <div class="form-floating mb-3">
              <input [(ngModel)]="altura" class="form-control" id="altura" name="altura" type="number" placeholder="altura" >
              <label for="altura">Altura:</label>
            </div>
            <br>
            <div class="form-floating mb-3">
              <input [(ngModel)]="peso" class="form-control" id="peso" name="peso" type="number" placeholder="Peso">
              <label for="peso">Peso:</label>
            </div>
          <div class="d-grid gap-2 d-md-flex justify-content-md-center mt-5 ">
            <button type="button" class="btn btn-outline-dark btn-lg" (click)="cal()">Calcular</button>
          </div>
      {{imc}}
